h1 {
  margin-left: 20px;
  margin-right: 20px;
  font-family: Georgia, serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  float: right;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

p {
  color: gray;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Verdana, sans-serif;
}

ul {
  width: 200px;
  float: left;
  margin-right: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 14px; 
}

li {
  margin-bottom: 10px;
  text-align: left;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

.image-container {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.image-container img {
  width: 135%; 
  margin-right: 20px;
  margin-left: 20px;
  padding: 0;
  height: auto;
  display: block;
}

.text-overlay {
  position: absolute;
  background-color: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.text-overlay.item1 {
  top: 250px;
  left: 240px;
}
.text-overlay.item2 {
  top: 280px;
  left: 240px;
}
.text-overlay.item3 {
  top: 310px;
  left: 240px;
}
.text-overlay.item4 {
  top: 340px;
  left: 240px;
}
.text-overlay.item5 {
  top: 200px;
  left: 250px;
  font-size: 18px; 
}

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  
}

.search-subscribe {
  display: flex;
  align-items: center;
}

.search-subscribe form {
  display: flex;
}

.search-subscribe input[type="text"] {
  padding: 8px;
  border: 1px light gray;
  border-radius: 5px;
  margin-right: 5px;
}

.search-subscribe button {
  padding: 8px 15px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-subscribe button:hover {
  background-color: blue;
}

.signup-button {
  display: inline-block;
  padding: 8px 15px;
  background-color: blue ;
  color: white;
  text-decoration: none; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: blue;
}

.separator {
  height: 20px;
  width: 1px;
  background-color: black;
  margin: 0 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
}

.about-contact a {
  margin-left: 20px;
  color: blue; 
  text-decoration: none;
}

.about-contact a:hover {
  text-decoration: underline;
}

.separator {
    width: 1px;
    height: 20px;
    background-color: black;
    margin: 0 10px;
}
p {
    margin: 20px;
    line-height: 1.5;
}

.bold-text {
    font-weight: bold;
    color: black;
    font-size: 1.2em; 
}

p a {
    color:blue;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}