h1 {
  margin-left: 20px;
  margin-right: 20px;
  font-family: Georgia, serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  float: right;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

p {
  color: gray;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Verdana, sans-serif;
}

ul {
  width: 200px;
  float: left;
  margin-right: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size:14;
}

li {
  margin-bottom: 10px;
  text-align: left
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;

}
.image-container {
  position: relative;
  display: inline-block;
  margin: 20px;
}
.image-container img {
  width: 100%; 
  margin-right: 30px;
  margin-left: 20px;
  padding: 0;
  height: auto;
  display: block;
}
.text-overlay {
  position: absolute;
  background-color: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.text-overlay.item1 {
  top: 370px;
  left: 70px;
}
.text-overlay.item2 {
  top: 410px;
  left: 70px;
}
.text-overlay.item3 {
  top: 450px;
  left: 70px;
}
.text-overlay.item4 {
  top: 490px;
  left: 70px;
}